body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at center, #e0e0e0, #a0a0a0);
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
}

/* Navegación superior */
.top-nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    color: #666;
    text-transform: lowercase;
    font-size: 20px;
}

.top-nav .active {
    color: #000;
    font-weight: bold;
    border-bottom: 4px solid #107c10;
}

/* Contenedor del Dashboard */
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 70vh;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Cuadros Verdes */
.tile.green {
    width: 200px;
    height: 100px;
    background-color: #107c10;
    color: white;
    padding: 15px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s;
}

/* Cuadro Negro Central (Xbox Live) */
.main-tile-black {
    width: 500px;
    height: 330px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s;
}

.live-logo {
    width: 80px;
    filter: invert(1); /* Hace el logo blanco */
    margin-bottom: 10px;
}

.main-tile-black h2 {
    letter-spacing: 3px;
    margin: 10px 0;
}

.main-tile-black p {
    font-size: 14px;
    color: #ccc;
}

/* Efecto de selección */
.tile:hover, .main-tile-black:hover {
    transform: scale(1.05);
    border-color: #fff;
}

/* Modal */
.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;
}

.xbox-modal {
    background: white;
    padding: 40px;
    width: 400px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    text-align: center;
}

.btn-xbox {
    background: #107c10;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}